## Builtin functions

In [2]:
abs(-5)

5

In [3]:
abs(3+5j)

5.830951894845301

In [4]:
mylist = [True, True, False]
all(mylist)

False

In [7]:
x = ascii("Solomon KImunyu")

In [8]:
x

"'Solomon KImunyu'"

In [9]:
bool(1.4)

True

In [13]:
x = ('apple','banana', 'orange')
y = enumerate(x)

In [14]:
y

In [15]:
format(0.9, '%')

'90.000000%'

In [20]:
class person:
    name = "John"
    age = 30
    
x = getattr(person, 'age')

In [21]:
x

30

In [24]:
id(x)

94893591856832

In [26]:
x = ("solo","alex")
len(x)

2

In [29]:
type(x)

tuple

#### Map function

In [36]:
#n = 90
def myfunc(n):
    return len(n)

In [37]:
x = map(myfunc, ('apple','banana','cherry'))

In [38]:
x

In [39]:
m = (10,20,30)

In [40]:
min(m)

10

In [41]:
n = (23,5,2)

In [42]:
pow(4,3)

64

In [44]:
class person:
    name = 'John'
    age = 40
    country = 'Norway'

In [45]:
setattr(person, 'age',45)

In [46]:
person.age

45

In [47]:
sorted(m)

[10, 20, 30]

In [48]:
d = ("a",'g','t','s')

In [49]:
sorted(d)

['a', 'g', 's', 't']

In [50]:
type(d)

tuple

In [51]:
r = ['a','g']

In [52]:
type(r)

list

## User defined functions

In [55]:
def myfunc(x):
    x = print('solo')
    return x

In [57]:
myfunc(x)

solo

In [58]:
def func(fname):
    print(fname + "Solo")

In [59]:
func("e")

eSolo

In [60]:
func("Kim")

KimSolo

#### Default parameters

In [66]:
def func2(country = "Norway"):
    print("I am from " + country)

In [67]:
func2("Kenya")

I am from Kenya

In [68]:
func2()

I am from Norway

#### Return parameters

In [72]:
def fun(c):
    return 2**c

In [74]:
fun(21)

2097152

#### Recursion

In [76]:
def tri_recursion(k):
    if(k>0):
        result = k + tri_recursion(k-1)
        print(result)
    else:
        result = 0
    return result

In [77]:
tri_recursion(9)

1
3
6
10
15
21
28
36
45

45

## Lambda functions

In [78]:
x = lambda a : a+10

In [79]:
x(5)

15

In [84]:
import numpy as np
y = lambda b : np.log(b)

In [85]:
y(10)

2.302585092994046

In [86]:
m = lambda b,c : b*c

In [87]:
m(29,3)

87

In [88]:
n = lambda s,t,r : s*t*r

In [89]:
n(3,4,5)

60

In [90]:
def myfunc(n):
    return  lambda a : a * n 
mydoubler = myfunc(2)

In [92]:
print(mydoubler)

<function myfunc.<locals>.<lambda> at 0x7f484fe504d0>

In [93]:
def myfunc(n,a):
    return lambda a : a*n

In [94]:
myfunc(2,4)